
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>URL manager</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
    .inactive{
        color: gray;
    }
    .active{
        color: green;
    }

    </style>

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
    </ul>
  </div>
</nav>

<body>

<div class="container-fluid">
<h1>URL manager dashboard</h1>
    <form method="post"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="save">
    </form>
<br>
<hr>


{% block content %}
    {% if username == '' %}
        <h5>Sorry you not logged in, please login to add urls</h5>
    {% else %}
        <h6>List of added urls: </h6>
        <ol id="urls">
            {% for u in urls %}

                <li> {{ u.text }} </li>

            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}
</div>
<script>

function checkUrlStatus(url, tag) {
    const request = new XMLHttpRequest();
    // 'https://cors-anywhere.herokuapp.com/https://htmlcheatsheet.com/js/'
    url = 'https://cors-anywhere.herokuapp.com/'.concat(url.trim());
    console.log(url);
    request.open("GET", url, true);
    request.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    request.onload = function(){
        status_t = request.statusText
        if (status_t === 'OK'){
            tag.style.color = 'green';
        }
        else {
            tag.style.color = 'gray';
        }
        //alert(request.statusText+", "+url)
    }

    request.send();

}

var ul = document.getElementById('urls');
var items = ul.getElementsByTagName('li');
for (var i=0; i<items.length; i++){
    checkUrlStatus(items[i].textContent, items[i]);
}






</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

